NODE_ENV=e2e
# TODO remove these
POSTGRES_USER=pguser
POSTGRES_PASSWORD=pguserpassword
POSTGRES_PORT=5432
API_DOMAIN="http://localhost"
API_PORT=3234
CLIENT_DOMAIN="http://localhost"
CLIENT_PORT=4200
TI_ENCRYPTION_KEY=abc123xyz
TI_COOKIES_SECRET="cat at keyboard man!"
SYSTEM_ADMIN_USERNAME="tiuser"
INITIAL_ADMIN_PASSWORD="hardPASSWORD1"

